<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://js.arcgis.com/4.x/esri/css/main.css">
  <script src="https://js.arcgis.com/4.x/"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer"
    ], function(Map, MapView, FeatureLayer) {
      var map = new Map({
        basemap: "streets-navigation-vector"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-98.5795, 39.8283],
        zoom: 4
      });

      // Add your layers
      var originalPointsLayer = new FeatureLayer({
        url: "https://services6.arcgis.com/3tKBZy9r0mwAeNvJ/arcgis/rest/services/original_points_lv/FeatureServer"
      });

      map.add(originalPointsLayer);

    });
  </script>
</head>
<body>
  <div id="viewDiv" style="height: 600px; width: 100%;"></div>
</body>
</html>
